<?xml version="1.0" encoding="utf-8" ?>

<configuration scan="true" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%magenta(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %cyan([%thread]) %boldBlue(%logger{50}) - %yellow(%msg%n)</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>